{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Qui mostriamo i tuoi dati{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Plot facile</h1>
<body>
  <div id="plotly-timeseries"  class="chart"></div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script>
  var graph = {{ out | safe }};
  Plotly.plot('plotly-timeseries', graph, {});
  </script>
</body>

{% endblock %}

