<!-- Services -->

<div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>How electricity is used about {{ country }} for the year {{ year }}</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
</div>


  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    {% block content %}
  <div id="plotly-tree"  class="chart"></div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script>
  var graph_tree = {{ graphJSON_tree | safe }};
  Plotly.plot('plotly-tree', graph_tree, {});
  </script>

<div id="plotly-pie"  class="chart"></div>
  <script>
  var graph_pie = {{ graphJSON_pie | safe }};
  Plotly.plot('plotly-pie', graph_pie, {});
  </script>

{% endblock %}
  </div>

{% extends 'base.html' %}
</body>
  </html>